html,
body {
    margin: 0px;
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 18px;
}

.main {
    background-image: url(../images/header.png) ;
    background-repeat: no-repeat;
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
a {
    text-decoration: none;
    color:rgb(20, 18, 18)
}
.header {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0px 15px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}